<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>create</title>
</head>
<body>
<!--NAVBAR PARTIAL WILL GO HERE-->
    <nav th:fragment="navbar">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">create</a></li>
            <li><a href="#">register</a></li>
            <li><a href="#">login</a></li>
            <li><a href="#">logout</a></li>
        </ul>
    </nav>

<h1>This is going to be the form to create a new blog post</h1>
<label>
    <input type="text" placeholder="text goes here"/>
</label>


<!--FOOTER PARTIAL WILL GO HERE-->
    <ul>
        <li>home</li>
        <li>about</li>
        <li>2020</li>
    </ul>
</body>
</html>