<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="">-->
<!--<head>-->
<!--    <div th:replace="fragments/head :: head('Show Single Ad')"></div>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/navbar :: unauthNavbar"></div>-->

<!--<h1>This is just one post</h1>-->
<!--<h2 th:text="${ad.title}"></h2>-->
<!--<p th:text="${ad.description}"></p>-->

<!--<div th:replace="fragments/footer :: footer"></div>-->
<!--<div th:replace="fragments/scripts :: scripts"></div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ads</title>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="container">
    <h2>Ad</h2>
    <p style="font-weight: bold;" th:text="${ad.title}"></p>
    <p style="padding-left: 2rem;" th:text="${ad.description}"></p>
</div>

<div th:replace="partials/partials :: footer"></div>
</body>
</html>